.modal {
    padding: 20px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 100%;
    max-width: 840px;
    bottom: 10%;
    background-color: #343434;
    text-align: center;
    transition: transform 0.4s;

    &--active {
        transform: translate(-50%, 0);
    }

    &__header {
        font-size: 34px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }

    &__box {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        &-input {
            margin-right: 8px;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid black;
            border-radius: 6px;
            color: white;
            transition: background-color 0.3s;

            &:focus {
                outline: none;
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    &__btn {
        padding: 8px 10px;
        text-transform: uppercase;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.2s, border-color 0.2s;

        &--cancel {
            margin-top: 20px;
        }

        &:hover {
            background-color: transparent;
            border-color: white;
            color: white;
        }
    }

    &__error {
        margin-top: 10px;
        padding: 0 15px;
        color: tomato;
    }
}

@media (min-width: 728px) {
    .modal {
        width: 600px;
        border-radius: 6px;
        border: 1px solid black;
        box-shadow: 5px 5px 11px black;

        &__header {
            font-size: 38px;
        }

        &__box-input {
            padding: 6px;
            font-size: 20px;
        }
        &__btn {
            padding: 10px;
        }
    }
}
