.task {
    padding: 10px 14px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0004;
    width: 100%;

    &__title {
        font-size: 16px;
        margin-right: 20px;
        text-align: left;
    }

    &__btn-box {
        display: flex;
        flex-wrap: nowrap;

        &-btn {
            padding: 10px 3px;
            background-color: white;
            border: 1px solid white;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            cursor: pointer;
            transition: color 0.2s, background-color 0.3s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
            }

            &:nth-child(1) {
                padding-left: 12px;
                border-radius: 10px 0 0 10px;
            }
            &:nth-child(3) {
                padding: 0 12px;
                border-radius: 0px 10px 10px 0px;

                &:hover {
                    background-color: tomato;
                }
            }

            &--done:nth-child(1) {
                padding: 10px 22px;
                border-radius: 10px;
            }
        }
    }
}

@media (min-width: 768px) {
    .task {
        &__title {
            font-size: 20px;
        }
        &__btn-box-btn {
            padding: 10px 8px;
            font-size: 14px;
        }
    }
}
